<h1>Reservable Events</h1>

<div class="wrapper">
    <% @events.each do |event| %>
        <div class="event-card">
            <p><%= link_to event.title, event_path(event) %></p>
            <p>Hosted By: <%= event.user.full_name %></p>
            <p>Starts On <%= date_of event %> from <%= time_of event %></p>
        </div>
    <% end %>
</div>