<h1>Reservable Events</h1>

<div class="wrapper">
    <% @events.each do |event| %>
        <div class='event-card'>
            <%= render partial: 'events/eventCard', locals: { event: event } %>
        </div>
    <% end %>
</div>