<h1><%= @user.name %></h1>

<h2>Current Hosted Events</h2>

<% @user.events.each do |event| %>
    <div class='user-event'>
        <%= render partial: 'events/eventCard', locals: { event: event } %>
    </div>
<% end %>
