<% if can_edit_remove_and_view_event_reservations?(event) %>
    <div class='edit-remove-view-reservations'>
        <ul>
            <li><%= link_to 'Edit Event', edit_event_path(event) %></li>

            <li>
                <%= form_tag event_path, method: "delete" do %>
                    <%= submit_tag "Remove Event" %>
                <% end %>
            </li>
        </ul>
    </div>
<% end %>