<h1>Search Results For: "<%= @search_name %>"</h1>

<% if @events.any? %>
    <div class="wrapper">
        <% @events.each do |event| %>
            <div class='event-card'>
                <%= render partial: 'events/partials/eventCard', locals: { event: event } %>
            </div>
        <% end %>
    </div>
<% else %>
    <p>There are no events by the name of "<%= @search_name %>"</p>
<% end %>