<h1>New Event</h1>

<% if @event.errors.any? %>
<h2>Event was unable to be created because:</h2>
<ul>
    <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= render partial: 'form', locals: { event: @event } %>