<h1>Reviews For <%= @event.title %></h1>

<% if can_create_review?(@event) %>
    <%= link_to 'Leave a Review', new_event_review_path %>
<% end %>

<% if @event.reviews.any? %>
    <% @event.reviews.each do |review| %>
        <div class="user-review">
            <%= render partial: 'reviews/partials/displayReview', locals: { review: review } %>
        </div>
    <% end %>

<% else %>
        <h2>No One Has Reviewed This Event Yet</h2>
<% end %>