<h1>Recently Created Reviews</h1>

<% if @recent_reviews.any? %>
    <div class='wrapper'>
    <% @recent_reviews.each do |review| %>
        <div class="user-review">
            <p>Event: <%= link_to review.event.title, event_path(review.event) %></p>
            <p>Event Host: <%= link_to review.event.user.name, user_path(review.event.user) %></p>
            <%= render partial: 'reviews/partials/displayReview', locals: { review: review } %>
        </div>
    <% end %>
<% else %>
    <p>There are no new reviews at this time</p>
<% end %>